#judul-utama {
    text-align: center;
    color: navy;
}

.deskripsi {
    font-size: 18px;
}

#subjudul {
    text-align: center;
    color: teal;
}

.note {
    color: gray;
    font-size: 14px; 
}